.pyc
*.pyc
*~
*#
.ipynb_checkpoints
changes/
climaf.log
last.out
/select_data_versions/verif_mrro
/select_data_versions/verif_pr_day
/notebooks/insert.png
doc/build/*
notebooks/figures
/notebooks/prod
/old/
*/old
/select_data_versions/published_ok.json
/select_data_versions/published_nok.json
select_data_versions/timestamps
select_data_versions/*json
/notebooks/change_rate_basins_data.nc
/select_data_versions/missing_datasets.txt
